
.item{
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
}

.dialogueItems a {
  text-decoration: none;
  color: red;
}

.dialogueItems a.active {
  color: rgb(36, 189, 216);
}

.item a.active {
  color: rgb(36, 189, 216);
}



.avatar {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  background-color: #fff;;
}