.infoContent {
  border: 1px solid grey;
  background-color: rgb(255, 229, 81);
  padding: 5px;
  margin: 5px;
}

.content .wallpaper {
  max-width: 100%;
}

.avatar {
  background-color: #fff;
  border: 1px solid grey;
  width: 200px;
}
